<h2 class="center" id="jobs">Nos Jobs</h2>


<div class="row"></div>

{% for offer in offers %}

    <div class="col s12 m4">
        <div class="card card-offres color">
            <div class="card-content white-text hvr-bounce-to-right"
                    {% if offer.attachment_id is not empty %}
                        style="background-image :url({{ link_site }}{{ offer.attachment_id }}); border-radius: inherit">

            {% endif %}
                <span class="card-title">{{ offer.title | raw }}</span>

                <div class="card-content">{{ offer.city | raw }} {{ offer.debut| date('d/m/y') }}
                </div>

                <a class="waves-effect waves-light btn red offres" href="{{ path('job_page', {'id': offer.id}) }}">Voir plus</a>

            </div>


        </div>
    </div>

{% endfor %}

<div class="row"></div>
<div class="row"></div>