    {% extends "AppBundle:Base:layout.html.twig" %}
    {% block header %}
        {% include('AppBundle:Job:header.html.twig') %}
    {% endblock %}
    {% block content %}

  {% if offer.attachment_id is not empty %}
        <div class="card detail"
             style="background-image :url({{ link_site }}{{ offer.attachment_id }});
                    background-repeat:no-repeat;background-size:cover;">
        </div>

      <div class="row">
          <div class="col s3 offset-s9">
              <div class="center cadre">
                  <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
                  <script type="in/share"></script>
                  <br>
                  {{ form (form) }}
              </div>
          </div>
      </div>
        <div class="container">
            <div><h2 class="job_title">{{ offer.title | raw }}</h2></div>
            <div class="job_detail"><p class="offredetail">{{ offer.city | raw }} | {{ offer.duration | raw }}{{ offer.debut| date('d/m/y') }}</p></div>
            <div class="job_descrition">{{ offer.description | raw }}</div>

        </div>

                {% else %}

      {#Affichage de l'annonce sans image de fond#}



                    <div class="row">
                        <div class="col s3 offset-s9">
                            <div class="center cadre1">
                                <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
                                <script type="in/share"></script>
                                <br>
                                {{ form (form) }}
                            </div>
                        </div>
                    </div>

    <div class="container">

            <div><h2 class="job_title2">{{ offer.title | raw }}</h2></div>
            <div class="job_detail2"><p class="offredetail2">{{ offer.city | raw }} | {{ offer.duration | raw }}{{ offer.debut| date('d/m/y') }}</p></div>
            <div class="job_descrition2">{{ offer.description | raw }}</div>



    </div>





        {% endif %}

    {% endblock %}

