    {% extends "AppBundle:Base:layout.html.twig" %}
    {% block header %}
        {% include('AppBundle:Job:header.html.twig') %}
    {% endblock %}
    {% block content %}

  {% if offer.attachment_id is not empty %}
        <div class="card detail"
             style="background-image :url({{ link_site }}{{ offer.attachment_id }}); background-repeat:no-repeat;background-size:cover;">
        </div>


        <div class="container">
            <div><h2 class="job_title">{{ offer.title | raw }}</h2></div>
            <div class="job_detail"><p class="offredetail">{{ offer.city | raw }} | {{ offer.duration | raw }}</p></div>
            <div class="job_descrition">{{ offer.description | raw }}</div>
            <div class="center">
                <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
                <script type="in/share"></script>
                <br>
            </div>
                    {{ form (form) }}
        </div>


                {% else %}

      {#Affichage de l'annonce sans image de fond#}
    <div class="container">
            <div><h2 class="job_title2">{{ offer.title | raw }}</h2></div>
            <div class="job_detail2"><p class="offredetail2">{{ offer.city | raw }} | {{ offer.duration | raw }}</p></div>
            <div class="job_descrition2">{{ offer.description | raw }}</div>

            <div class="center">
               <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
               <script type="in/share"></script>
                <br>
            </div>

            {{ form (form) }}


        {% endif %}
    </div>
    {% endblock %}

