<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sourc'ink{% endblock %}</title>
    <!--Imp1materialize.css.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/base.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
{% block header %}
{% endblock %}
<div class="container">
    {% for label, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="card-panel">
                <span class="blue-text text-darken-2">{{ message }}</span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>

{% endblock %}
</body>
</html>