<nav>
    <div class="nav-wrapper">
        <a href="{{ path("admin_index") }}" class="brand-logo"> <img src="{{ asset('media/logoSourcInk.svg') }}"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="{{ path("header_index") }}">Header</a></li>
            <li><a href="{{ path("work_index") }}">Metiers</a></li>
            <li><a href="{{ path("team_index") }}">L'équipe</a></li>
            <li><a href="{{ path("category_index") }}">Categorie</a></li>
            <li><a href="{{ path("product_index") }}">Solution</a></li>
            <li><a href="{{ path("benefit_index") }}">Tableau</a></li>

        </ul>
    </div>
</nav>