<h2 class="center" id="job">Nos Offres</h2>
<div class="row">
    {% for offer in offers %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ offer.title }}<i
                                class="material-icons right">add</i></span>
                    <p class="grey-text">{{ offer.city }}</p>
                    <p class="grey-text">{{ offer.duration }}</p>
                </div>
                <div class="card-reveal">


                    <span class="card-title grey-text text-darken-4">{{ offer.title }}<i class="material-icons right">close</i></span>
                    <p>{{ offer.description | raw }}</p>

                </div>
            </div>
        </div>
    {% endfor %}

</div>
<div class="col s12">
    <div class="center">
        <a class="waves-effect waves-light btn red" href="{{ path('app_job') }}">Plus d'offres..</a>
    </div>
</div>