<h2 class="center" id="job">Nos Partenaires</h2>
<div class="container">
    <div class="row">
        <div class="col s3 m2">
            <a href="https://itwapp.io/fr" target='_blank'>
                <img src="{{ asset('media/partner/interviewapp.png') }}" class="logoPartner"></a>
        </div>

        <div class="col s3 m2">
            <a href="https://www.linkedin.com/company-beta/5059711/" target='_blank'>
                <img src="{{ asset('media/partner/linkedin.png') }}" class="logoPartner"></a>
        </div>

        <div class="col s3 m2">
            <a href="https://www.carrieres-juridiques.com/metiers-du-droit-jobfair-virtuelle/sourcink/18244"
               target='_blank'>
                <img src="{{ asset('media/partner/carrieres_juri.png') }}" class="logoCarJur"></a>
        </div>
        <div class="col s3 m2">
            <a href="http://www.village-justice.com/annonces/?show_emp=21706" target='_blank'>
                <img src="{{ asset('media/partner/village_justice.png') }}" class="logoP"</a>
        </div>
        <div class="col s3 m2">
            <a href="https://www.monster.fr/" target='_blank'>
                <img src="{{ asset('media/partner/monster.gif') }}" class="logoMonster"></a>
        </div>
        <div class="col s3 m2">
            <a href="https://www.apec.fr/" target='_blank'>
                <img src="{{ asset('media/partner/Apec.jpg') }}" class="logoAPec"></a>
        </div>
    </div>
</div>

