{% extends "base.html.twig" %}

{% block body %}
    <h1>Productoption edit</h1>

    {{ form_start(edit_form) }}


    {{ form_row(form.product) }}

    {{ form_row(form.status) }}

    {{ form_row(form.benefit) }}

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('productoption_index') }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">list</i></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn-floating btn-small waves-effect wave-light red" name="action" type="submit"><i class="material-icons">delete</i></button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
