{% extends "base.html.twig" %}

{% block body %}
    <h1>Productoptions list</h1>

    <table class="highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productOption in productOptions %}
            <tr>
                <td><a href="{{ path('productoption_show', { 'id': productOption.id }) }}">{{ productOption.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productoption_show', { 'id': productOption.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">menu</i></a>
                        </li>
                        <li>
                            <a href="{{ path('productoption_edit', { 'id': productOption.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productoption_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
