
{% block body %}
    <h1>Productoption</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productOption.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productoption_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productoption_edit', { 'id': productOption.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
