{% extends "AppBundle:Base:layout.html.twig" %}
{% block header %}
    {% include('AppBundle:Applicant:header.html.twig') %}
{% endblock %}
{% block content %}
    <div class="container">
        {% if status == true %}
            {% if hasResume == false %}
                <div class="card-panel">
                    <p>Merci d'avoir compléter votre profil. Dernière étape : nous envoyer votre CV</p>
                    <div class="center">
                        <a class="btn blue" href="#modalcv">Envoyer mon CV</a>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-content">
                    <p class="card-title">
                        {{ app.user.firstname }} {{ app.user.lastname }}
                        {% if hasResume == true %}
                            <a class="btn btn-flat blue-text right" href="{{ path('job_list') }}">Voir nos offres d'emplois</a>
                        {% endif %}
                    </p>
                    <p><i class="fa fa-inbox fa-2x"></i> Adresse e-mail : {{ app.user.email }}</p><br />
                    <p><i class="fa fa-user fa-2x"></i> Titre : {{ app.user.title }}</p><br />
                    <p><i class="fa fa-phone fa-2x"></i> Numéro de téléphone : {{ app.user.phone }}</p><br />
                    <p><i class="fa fa-building fa-2x"></i> Emploi actuel : {{ app.user.currentJob }}</p><br />
                    <p><i class="fa fa-search fa-2x"></i> Emploi recherché : {{ app.user.wantedJob }}</p><br />
                    <p><i class="fa fa-map fa-2x"></i> Mobilité Géographique : {% for mobility in app.user.mobility %}{{ mobility }}, {% endfor %}</p><br />
                    <p><i class="fa fa-book fa-2x"></i> Expérience : {{ app.user.experience }} années</p><br />
                    <p><i class="fa fa-money fa-2x"></i> Salaire Actuel : {{ app.user.salary }}€</p><br />
                    <p><i class="fa fa-search fa-2x"></i> Salaire Souhaité : {{ app.user.wantedSalary }}€</p><br />
                </div>
                <div class="card-action">
                    {% if hasResume == true %}
                        <a class="blue-text" href="#modalcv">Envoyer mon CV</a>
                    {% endif %}
                    {% if status == true %}
                        <a href="{{ path('applicant_update') }}" class="orange-text right">Mettre à jour mon
                            profil</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="card-panel">
                <p>Merci de vous êtes inscrit. Prochaine étape : Compléter votre profil</p>
                <div class="center">
                    <a href="{{ path('applicant_update') }}" class="btn blue">Compléter mon profil</a>
                </div>
            </div>
        {% endif %}

    </div>
    <div id="modalcv" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Envoyer mon CV</h4>
            <div class="row">
                <form id="sendResumeForm">
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span class="btn-ajax">CV</span>
                            <input type="file" id="sendResumeFile">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <button class="btn-large red right" id="sendResumeButton">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="ajaxStatus">
                    <div class="progress hiddendiv">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Terminer</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
        $('#sendResumeButton').on('click', function (e) {
            event.preventDefault();
            $('.progress').removeClass('hiddendiv');
            var resume = $('#sendResumeFile').val();
            var formData = new FormData();
            formData.append('resume', $('input[type=file]')[0].files[0]);
            $.ajax({
                url: '/ajax/resume/send',
                type: 'POST',
                dataType: 'json',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('.ajaxStatus').html('<div class="center"><p>Votre CV a été envoyé avec succès !</p></div>');
                },
                error: function () {
                    $('.ajaxStatus').html('<div class="center"><p>Une erreur s\'est produite. Veuillez réessayer.</p></div>');
                }
            });
        });
    </script>
{% endblock %}
