{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Modifier un métier
        <a href="{{ path('work_index') }}" class="btn btn-flat orange-text right">Revenir à la liste</a>
    </h1>

    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}

    <label for="appbundle_work_category">Catégorie</label>
    {{ form_widget(form.category, {'placeholder': 'Choisissez une catégorie'}) }}
    {{ form_errors(form.category) }}


    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

    {{ form_start(delete_form) }}
    <button class="btn red right" name="action" type="submit">Supprimer</button>
    {{ form_end(delete_form) }}
{% endblock %}
