{% extends "base.html.twig" %}

{% block body %}

    <h1>Liste des collaborateurs</h1>


    <table class="highlight">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Portrait</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.text }}</td>
                <td> {% if team.picture is not null %}
                        <img src="{{ asset('img/' ~ team.picture.pictureName) }}" class="admimage"/>
                    {% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
