{% extends "base.html.twig" %}

{% block body %}
    <h1>Team</h1>

    <table class="highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Linkedin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>{{ team.text }}</td>
                <td>{{ team.linkedin }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">menu</i></a>
                        </li>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
