{% extends "base.html.twig" %}

{% block body %}

    <h1>Categories</h1>


    <table class="highlight">
        <thead>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.text }}</td>
                <td>
                {% if category.picture is not null %}
                    <img src="{{ asset('img/' ~ category.picture.pictureName) }}" class="admimage"/>
                         {% endif %}
                    </td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}"class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
   </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
