{% extends "base.html.twig" %}

{% block body %}

    <h1>
        Ajout d'une catégorie
        <a href="{{ path('category_index') }}" class="btn btn-flat orange-text right">Revenir à la liste</a>
    </h1>

    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}

    {{ form_label(form.text) }}
    {{ form_widget(form.text) }}
    {{ form_errors(form.text) }}
    <div class="file-field input-field">

        <div class="btn orange">
            <span>Choisissez une image</span>
            {{ form_widget(form.picture.pictureFile) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        {{ form_errors(form.picture.pictureFile) }}
    </div>
    {{ form_label(form.picture.alt) }}
    {{ form_widget(form.picture.alt) }}
    {{ form_errors(form.picture.alt) }}


    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
