{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expertise</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expertise.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ expertise.text }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ expertise.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expertise_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expertise_edit', { 'id': expertise.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
