{% extends "base.html.twig" %}

{% block body %}

    <h1>
        Modifier une option
        <a href="{{ path('benefit_index') }}" class="btn btn-flat orange-text right">Revenir à la liste</a>
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.description) }}
    {% for formProductOption in form.productOptions %}
        <strong>{{ formProductOption.vars.value.product.title }}</strong>
        {{ form_row(formProductOption.status) }}
        <br />
    {% endfor %}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

    {{ form_start(delete_form) }}
    <button class="btn red right" name="action" type="submit">Supprimer</button>
    {{ form_end(delete_form) }}
{% endblock %}
