{% extends "::base.html.twig" %}



{% block header %}
{% endblock %}

{% block body %}
    <h1>Benefits list</h1>

    <table class="highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for benefit in benefits %}
            <tr>
                <td><a href="{{ path('benefit_show', { 'id': benefit.id }) }}">{{ benefit.id }}</a></td>
                <td>{{ benefit.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('benefit_show', { 'id': benefit.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">menu</i></a>
                        </li>
                        <li>
                            <a href="{{ path('benefit_edit', { 'id': benefit.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('benefit_new') }}"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
