{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout d'un service</h1>

    {{ form_start(form) }}
        {{ form_row(form.description) }}
        {% for formProductOption in form.productOptions %}
            <strong>{{ formProductOption.vars.value.product.title }}</strong>
            {{ form_row(formProductOption.status) }}
        {% endfor %}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('benefit_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
