{% extends "base.html.twig" %}


{% block body %}
    <h1>Expertises list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expertise in expertises %}
            <tr>
                <td><a href="{{ path('expertise_show', { 'id': expertise.id }) }}">{{ expertise.id }}</a></td>
                <td>{{ expertise.text }}</td>
                <td>{{ expertise.title }}</td>
                <td>{% if expertise.picture is not null %}
                        <img src="{{ asset('img/' ~ expertise.picture.pictureName) }}" />
                    {% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('expertise_show', { 'id': expertise.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('expertise_edit', { 'id': expertise.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expertise_new') }}">Create a new expertise</a>
        </li>
    </ul>
{% endblock %}
