{% extends "base.html.twig" %}

{% block body %}
    <h1>Expertise</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expertise.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ expertise.text }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ expertise.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expertise_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('expertise_edit', { 'id': expertise.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
