{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productoptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productOption in productOptions %}
            <tr>
                <td><a href="{{ path('productoption_show', { 'id': productOption.id }) }}">{{ productOption.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productoption_show', { 'id': productOption.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productoption_edit', { 'id': productOption.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productoption_new') }}">Create a new productOption</a>
        </li>
    </ul>
{% endblock %}
