{% extends "base.html.twig" %}

{% block body %}
    <h1>Videos</h1>

    <table class="highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Video</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for header in headers %}
            <tr>
                <td><a href="{{ path('header_show', { 'id': header.id }) }}">{{ header.id }}</a></td>
                <td>{{ header.text }}</td>
                <td>{{ header.video }}</td>
                <td>{{ header.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('header_show', { 'id': header.id }) }}"class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">menu</i></a>
                        </li>
                        <li>
                            <a href="{{ path('header_edit', { 'id': header.id }) }}"class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('header_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
