{% extends "base.html.twig" %}

{% block body %}

    <h1>Vidéos</h1>
    <table class="highlight">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Sous-Titre</th>
            <th>Lien</th>
            <th>Nom du Lien</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for header in headers %}
            <tr>
                <td>{{ header.title }}</td>
                <td>{{ header.text }}</td>
                <td>{{ header.url }}</td>
                <td>{{ header.nameUrl }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('header_edit', { 'id': header.id }) }}"
                               class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('header_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
