<div class="title">

    <h3 class="title-product">{{ category.title| raw }}</h3></span>

</div>
<div class="left-align">
    <p>{{ category.text| raw }}</p>
</div>

    {% for product in category.products %}
        {% if category.products|length == 3 %}
            {% if loop.index == 1 %}
                <div class="col s12 m4 center padding-small">
                    <img class="circle responsive-img img" id="{{ product.id }}"
                         src="{{ asset('img/'~product.picture.pictureName) }}">
                    <a class="btn-floating btn show-small red lighten-1"><i class="material-icons">add</i></a>
                    <p class="product-small red lighten-1">{{ product.text }}</p>
                </div>

            {% elseif loop.index == 2 %}

                <div class="col s12 m4 center padding-medium">
                    <img class="circle responsive-img img" id="{{ product.id }}"
                         src="{{ asset('img/'~product.picture.pictureName) }}">
                    <a class="btn-floating btn show-medium deep-purple lighten-2"><i class="material-icons">add</i></a>
                    <p class="product-medium deep-purple lighten-2">{{ product.text | raw }}</p>
                </div>
            {% elseif loop.index == 3 %}
                <div class="col s12 m4 center padding-large">
                    <img class="circle responsive-img img" id="{{ product.id }}"
                         src="{{ asset('img/'~product.picture.pictureName) }}">
                    <a class="btn-floating btn show-large blue lighten-1"><i class="material-icons">add</i></a>
                    <p class="product-large blue lighten-1">{{ product.text | raw }}</p>
                </div>{% endif %}

        {% elseif category.products|length == 1 %}
            <div class="center">
                <img class="circle responsive-img img" id="{{ product.id }}"
                     src="{{ asset('img/'~product.picture.pictureName) }}">
            </div>

        {% endif %}
    {% endfor %}
    {% if category.isPremium == true %}
        <div class="center">
            <img class="circle responsive-img img" id="{{ category.id }}"
                 src="{{ asset('img/'~category.picture.pictureName) }}">
            <a class="btn-floating btn show-premium black lighten-1"><i class="material-icons">add</i></a>
            <p class="product-premium black lighten-1">Contacter nous pour plus d'informations.</p>
        </div>
    {% endif %}




