<div class="title">

    <h3 class="title-product">{{ category.title| raw }}</h3></span>

</div>
<div class="left-align">
    <p>{{ category.text| raw }}</p>
</div>

{% for product in category.products %}
    {% if category.isPremium == false %}
        <div class="col s12 m4 center padding-{{ loop.index }}">
            <img class="circle responsive-img img" id="{{ product.id }}"
                 src="{{ asset('img/'~product.picture.pictureName) }}">
            <a class="btn-floating btn lighten-1 {% if loop.index == 1 %} show-small red  {% elseif loop.index == 2 %} show-medium deep-purple  {% elseif loop.index == 3 %} show-large blue {% endif %}"><i
                        class="material-icons">add</i></a>
            <p class="lighten-1{% if loop.index == 1 %} red-text  price {% elseif loop.index == 2 %} deep-purple-text price {% elseif loop.index == 3 %} blue-text  price {% endif %}">{{ product.price }}
                € HT</p>
            <p class="lighten-1 {% if loop.index == 1 %} product-small red  {% elseif loop.index == 2 %} product-medium deep-purple {% elseif loop.index == 3 %} product-large blue {% endif %}">{{ product.text }}</p>
        </div>
    {% elseif category.isPremium == true %}
        <div class="center">
            <img class="circle responsive-img img" id="{{ product.id }}"
                 src="{{ asset('img/'~product.picture.pictureName) }}">
            <a class="btn-floating btn show-premium black lighten-1"><i class="material-icons">add</i></a>

            <p class="product-premium black lighten-1"><a href="mailto:{{ email }}">Contactez-nous</a> pour plus
                d'informations.</p>

        </div>
    {% endif %}
{% endfor %}



